# Ham or Spam?

In [1]:
# when installing nltk for the first time we need to also download a few built in libraries
!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

Requirement already satisfied: nltk in c:\users\utilisateur\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: colorama in c:\users\utilisateur\anaconda3\lib\site-packages (from click->nltk) (0.4.5)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
import pandas as pd

df = pd.read_csv("emails.csv")

df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

The dataset is made up of email that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

## Remove Punctuation

üëá Create a function to remove the punctuation. Apply it to the entire data and add the output as a new column in the dataframe called `clean_text`

In [3]:
import string

#fonction permettant d'enlever la ponctuatuion des mots
def remove_punctuation(text):
    for p in string.punctuation:
        text = text.replace(p , " ")
    return text

In [4]:
#creation de la colonne 'clean_text' qui nous permet d'avoir un colonne avec la fonction qui est appliqu√©
df["clean_text"] = df["text"].apply(remove_punctuation)
df

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,1,Subject the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,1,Subject 4 color printing special request add...
4,"Subject: do not have money , get software cds ...",1,Subject do not have money get software cds ...
...,...,...,...
5723,Subject: re : research and development charges...,0,Subject re research and development charges...
5724,"Subject: re : receipts from visit jim , than...",0,Subject re receipts from visit jim than...
5725,Subject: re : enron case study update wow ! a...,0,Subject re enron case study update wow a...
5726,"Subject: re : interest david , please , call...",0,Subject re interest david please call...
5727,Subject: news : aurora 5 . 2 update aurora ve...,0,Subject news aurora 5 2 update aurora ve...

## Lower Case

üëá Create a function to lower case the text. Apply it to `clean_text`

In [5]:
#Fonction permettant de mettre tous le texte en minuscule
def lower_case(text):
    return text.lower()

df["clean_text"] = df["clean_text"].apply(lower_case)
df

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,1,subject 4 color printing special request add...
4,"Subject: do not have money , get software cds ...",1,subject do not have money get software cds ...
...,...,...,...
5723,Subject: re : research and development charges...,0,subject re research and development charges...
5724,"Subject: re : receipts from visit jim , than...",0,subject re receipts from visit jim than...
5725,Subject: re : enron case study update wow ! a...,0,subject re enron case study update wow a...
5726,"Subject: re : interest david , please , call...",0,subject re interest david please call...
5727,Subject: news : aurora 5 . 2 update aurora ve...,0,subject news aurora 5 2 update aurora ve...

## Remove Numbers

üëá Create a function to remove numbers from the text. Apply it to `clean_text`

In [6]:
#Fonction qui permet de retirer les chiffres grace a isdigit qui parcourt les mots et supprime les chiffre
def remove_numbers(text):
    return ''.join(c for c in text if not c.isdigit())

In [7]:
df["clean_text"] = df["clean_text"].apply(remove_numbers)
df

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,1,subject color printing special request addi...
4,"Subject: do not have money , get software cds ...",1,subject do not have money get software cds ...
...,...,...,...
5723,Subject: re : research and development charges...,0,subject re research and development charges...
5724,"Subject: re : receipts from visit jim , than...",0,subject re receipts from visit jim than...
5725,Subject: re : enron case study update wow ! a...,0,subject re enron case study update wow a...
5726,"Subject: re : interest david , please , call...",0,subject re interest david please call...
5727,Subject: news : aurora 5 . 2 update aurora ve...,0,subject news aurora update aurora vers...

## Remove StopWords

üëá Create a function to remove stopwords from the text. Apply it to `clean_text`.

In [8]:
import nltk
#installation de stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [9]:
from nltk.corpus import stopwords

#Fonction qui permet d'enlever les mots cl√©(mots connu ou repetitifs)
def remove_stopwords(text):
    #split permet de diviser le texte en mots
    words = text.split()
    
    # supprime les mots qui sont dans stopwords
    filtered_words = [word for word in words if word not in stopwords.words("english")]
    
    return ' '.join(filtered_words)

In [10]:
df["clean_text"] = df["clean_text"].apply(remove_stopwords)
df

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible corporate ident...
1,Subject: the stock trading gunslinger fanny i...,1,subject stock trading gunslinger fanny merrill...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new homes made easy im wa...
3,Subject: 4 color printing special request add...,1,subject color printing special request additio...
4,"Subject: do not have money , get software cds ...",1,subject money get software cds software compat...
...,...,...,...
5723,Subject: re : research and development charges...,0,subject research development charges gpg forwa...
5724,"Subject: re : receipts from visit jim , than...",0,subject receipts visit jim thanks invitation v...
5725,Subject: re : enron case study update wow ! a...,0,subject enron case study update wow day super ...
5726,"Subject: re : interest david , please , call...",0,subject interest david please call shirley cre...
5727,Subject: news : aurora 5 . 2 update aurora ve...,0,subject news aurora update aurora version fast...

## Lemmatize

üëá Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`.

In [11]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [12]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [13]:
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

def lemmatize_text(text):
    #lematize les mots
    lemmatizer = WordNetLemmatizer()
    #divise les mots
    words = word_tokenize(text)
    #permet de joindre les mots en utilisant un separateur entre les mots
    lemmatized_words = [lemmatizer.lemmatize(word) for word in words]
    
    return ' '.join(lemmatized_words)

In [14]:
df["clean_text"] = df["clean_text"].apply(lemmatize_text)
df

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible corporate ident...
1,Subject: the stock trading gunslinger fanny i...,1,subject stock trading gunslinger fanny merrill...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new home made easy im wan...
3,Subject: 4 color printing special request add...,1,subject color printing special request additio...
4,"Subject: do not have money , get software cds ...",1,subject money get software cd software compati...
...,...,...,...
5723,Subject: re : research and development charges...,0,subject research development charge gpg forwar...
5724,"Subject: re : receipts from visit jim , than...",0,subject receipt visit jim thanks invitation vi...
5725,Subject: re : enron case study update wow ! a...,0,subject enron case study update wow day super ...
5726,"Subject: re : interest david , please , call...",0,subject interest david please call shirley cre...
5727,Subject: news : aurora 5 . 2 update aurora ve...,0,subject news aurora update aurora version fast...

## Bag-of-words Modelling

üëá Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer . Save as `X_bow`.

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

# initialisation CountVectorizer qui permet de de vectoriser les donn√©es(transformer des donn√©es textuelles en une repr√©sentation num√©rique.)
vectorizer = CountVectorizer()

#fit_transform effectue l'apprentissage
X_bow = vectorizer.fit_transform(df["clean_text"])

üëá Cross-validate a MultinomialNB model with the Bag-of-words. Score the model's accuracy.

In [16]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score

# initialisation du modele MultinomialNB 
model = MultinomialNB()

# utilisation du cross_val_score  pour effectuer une validation crois√©e sur le mod√®le en utilisant la matrice X_bow et la variable cible df["spam"]
scores = cross_val_score(model, X_bow, df["spam"], cv=5)#cv permet de diviser nos donn√©e
#print(scores)
# Print l'accuracy du modele a travers les plis
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

[0.98691099 0.9895288  0.991274   0.98777293 0.99213974]

‚ö†Ô∏è Please push the exercise once you are done üôÉ

## üèÅ